// Colors
// -------------------------
$white:					#fff;
$black:					#000;
$gray:					#a0a0a0;
$c-accent:              #fee359;
$c-primary:             #26abf7;
$c-error:               #e94949;

// Scaffolding
// -------------------------
$text-color:            $black;
$global-bg:             $white;
$headerH:               80px;

// Typography
// -------------------------
$ff-raleway:  			'Raleway', sans-serif;
$ff-open-sans:  		'Open Sans', sans-serif;
$ff-def:                 $ff-raleway;